
#banner {
  text-align: center;
}

#banner img {
  width: 800px;
  height: 300px;
}

#map {
  width: 500px;
  height: 400px;
  border: 1px solid #666;
  margin-left: 20px;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #0174DF; }
#selectable .ui-selected { background: #DF0174; color: ghostwhite; }
#selectable { list-style-type: none; margin: 0; padding: 0px 0px 30px 0px; width: 300px; }
#selectable li { margin: 3px; padding: 0.4em; cursor: pointer;}

.github-form-1,
.new-collection {
  width: 300px;
  height: 100px;
  border: 3px solid #D8D8D8;
  border-radius: 5px;
  margin: 30px 0px 10px 0px;
}

.github-form-2 {
  width: 300px;
  height: 175px;
  border: 3px solid #D8D8D8;
  border-radius: 5px;
  margin: 30px 0px 10px 0px;
}

#google,
#new-col,
#load-form,
#save-form {
  margin-left: 10px;
}

#selectable h2,
.github-form-1 h4,
.github-form-2 h4,
.new-collection h4 {
  color: #0174DF;
  text-align: center;
}

#user-img {
  border-radius: circle;
}

#follow,
.update {
  width: 200px;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  cursor: pointer;
  margin: 20px 0px 10px 0px;
}

.collection {
    background: ghostwhite none repeat scroll 0 0;
    /*border: 1px solid #666;*/
    border: 3px solid #D8D8D8;
    padding: 5px;
    position: relative;
    width: 300px;
    height: 250px;
    overflow: auto;
    margin-left: 10px;
}

.hotels {
    background: ghostwhite none repeat scroll 0 0;
    border: 3px solid #D8D8D8;
    padding: 5px;
    position: relative;
    width: 300px;
    height: 400px;
    overflow: auto;
    margin-right: 10px;
}


#followers h3,
#followers h5,
.hotels h3,
.collection h3
{color: blue; text-align: center;}

.hotel-description {
  margin-top: 50px;
  padding: 10px;
  margin-left: 30px;
}

.hotel-description h2 {
  color: blue;
  text-align: center;
}

.hotel-description img {
  width: 450px;
  height: 350px;
}

.hotel-description .star {
  width: 40px;
  height: 40px;
}

.hotel-list,
#collection-list {
  /*padding-left: 5px;*/
  background-color: ghostwhite;
  cursor: pointer;
}

.hotels-list p {
  cursor: pointer;
}

.address {
  color: #01A9DB;
}

#myCarousel1,
#myCarousel2 {
  margin-top: 50px;
}

.collection ol {
  margin: 0;
  padding: 1em 0 1em 3em;
}
